.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100vh;
}

button {
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}

.button-dark {
  border: 1px solid hsl(235, 21%, 11%);
  background-color: hsl(235, 21%, 11%, 10%);
  color: #fff;
}

.button-dark:hover {
  background-color: hsl(235, 21%, 11%);
}

.button-light {
  border: 1px solid hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 98%, 10%);
  color: #000;
}

.button-light:hover {
  background-color: hsl(0, 0%, 98%);
}

.container {
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.dark {
  /* background: url(./assests/images/bg-desktop-dark.jpg) center center cover no-repeat fixed; */
  background-image: url(./assests/images/bg-desktop-dark.jpg);
  background-color: hsl(235, 21%, 11%);
}

.dark-text {
  color: hsl(233, 14%, 35%);
}

.float-right {
  float: right;
}

footer {
  margin-bottom: 30px;
}

h1 {
  letter-spacing: 1.2rem;
  color: #fff;
}

img {
  width: 25px;
  /* height: 40px; */
}

.light {
  background-image: url(./assests/images/bg-desktop-light.jpg);
  background-color: hsl(0, 0%, 98%);
}

.light-text {
  color: hsl(236, 9%, 61%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.main-dark {
  color: #fff;
}

.main-light {
  color: #000;
}

.not-allowed {
  cursor: not-allowed;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.width-600 {
  width: 600px;
}

.width-500 {
  width: 500px;
}

@media only screen and (max-width: 375px) {
  .dark {
    background-image: url(./assests/images/bg-mobile-dark.jpg);
  }

  .light {
    background-image: url(./assests/images/bg-mobile-light.jpg);
  }
}
